
/* ****************  **************** **************** ****************    
	
	Body Element Styling
	
**************** **************** **************** **************** */

html,body{
	background: #FFF; 
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
    width: 100%;
}


#maincontent {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 990px;
	min-height: 100%;
	background-color: #FFF;
}

#header{
 	height: 100px;
 	position: relative;
	top: 0;
}

#headerbar {
	position: relative;
	display: block;
	top: 0px;
	margin-left: 50px;
	width: 990px;
	height: 100px;

}

#headerimg {
	float: right;
	margin-right: 50px;
	width: 200px;
	height:105px;

}

#logo {
	float: left;
	margin-left: -50px;
	margin-top: 10px;
}
#content {
	position: relative;
	padding: 20px;
	margin-top: 10px;
	margin-left: 30px;
	width: 700px;
	padding-bottom: 100px;
	min-height: 100%;
	float: left;
}



#sidebar{
	position: relative;
	width: 200px;
	float: right;
	background-color: #F5F5F5;
	padding-bottom: 100px;
	min-height: 100%;

}

#footerbar {
	position: fixed;
 	bottom: 0px;
	height: 100px;
	background-color: #222222;
	width: 990px;
	color: white;
}

#footerbar .col {
	position: relative;
	float: left;
	width: 200px;
	height: 100px;
}

.footerbar-table{
	position: relative;
	margin-left: 200px;
	margin-right: auto;
}


#totals {
	margin-top: auto;
	height: 100px;
}

.buttondetail {
	background-color:#7d5d3b;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	padding:2px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
	margin: 5px 5px 5px 5px;
	float: right;
	height: 30px;
}
.buttondetail:hover {
	background-color:#634b30;
}
.buttondetail:active {
	position:relative;
	top:1px;
}



.message {
	position: relative;
	width: 600px;
	padding: 30px 10px 10px 10px;
	height: auto;
	margin-top: 10px;
	border-top: 1px solid black;
}

#totals{
	width: 100px;
	float: right;
}

#blogform{
	height: 200px;
	width: 200px;
	float: left;
}

#start {
	height: 200px;
	width: 500px;
	display: block;
}


/* ****************  **************** **************** ****************    
	
	Text Styling

**************** **************** **************** **************** */

h1 {
	font-size: 35px;
	font-weight: 800;
	margin: 0px 0px 10px 0px;
	line-height: 35px;
	color:;
}

h2 {
	font-size: 30px;
	font-weight: 800;
	margin: 0px 0px 10px 0px;
	line-height: 30px;
	color:;
}

h3 {
	font-size: 25px;
	font-weight: 800;
	margin: 0px 0px 10px 0px;
	line-height: 25px;
	color:;
}

h6 {
	font-size: 25px;
	font-weight: 800;
	margin: 0px 0px 10px 0px;
	line-height: 25px;
	float: right;
}

h4 {
	font-size: 20px;
	font-weight: 800;
	margin: 0px 0px 10px 0px;
	line-height: 20px;
	color:;

}

hr {	
	border-color: gray;
	
}

#menu {
	font-size: : 10px;
	line-height: 30px;
	text-decoration: none;
}

#menu a, a:link, a:visited, a:hover, a:active {
	color: white;
	text-decoration: none;
}

#sidebar a , a:link, a:visited, a:active {
	color: black;
	text-decoration: none;
	font-weight: bolder;
}

#sidebar a:hover {
	color: #D2B48C;
}


/* ****************  **************** **************** ****************    
	
	Menu Styling

**************** **************** **************** **************** */


nav {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	background-color: #42210B;
	height:35px;
	color: white;
}


ul#menu{ 	
	position: relative;
	margin-left:auto;
	width: 900px;	
	height: 30px;
	list-style: none;
	padding: 0px;
	margin-top: 5px;
	text-align: center;
}

#menu li:hover {
	background-color: #42210B;
	color: #000;
		
}

li > ul{ 
display: none; 
}

li:hover > ul {
	display: block;
	color: #42210B;
}


#menu li{ 
	position: relative;
	z-index: 2;
	width: 120px;
	float: left;
	height: 30px;
	margin-left: 20px;
	padding-top: 5px;
	background-color: #42210B;
	margin-right: 15px;
}

ul.submenu {
	position: relative;
	width: 160px;
	padding: 0px;
	margin-left: -20px;
	list-style: none;
	background-color: #42210B;
}



/* ****************  **************** **************** ****************    
	
Other Styling

**************** **************** **************** **************** */


/* side menu */

.sidewidget {
	
	position: relative;
	list-style: none;
	width: 200px;
	height: 200px;
	margin: 20px 5px 0px -15px;

}


/* login menu */

.login {
	width: 160px;
	height: 130px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding: 20px 10px 10px 30px;
	background-color: rgba(107,52,11,0.8);
	border-radius: 10px;
}

.login p{ 
	font-size: 12px;
	font-weight: bold;
}


.login .buttondetail {
	background-color:  #42210B;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	padding:2px 10px;
	text-decoration:none;
	margin: 5px 5px 5px 5px;
	float: right;
	height: 20px;
}


/* ****************  **************** **************** ****************    
	
	List Styling

**************** **************** **************** **************** */

ul {
	list-style: none;
}

ul li{
	list-style: none;
}



/* ****************  **************** **************** ****************    
	Contact Form Styling

**************** **************** **************** **************** */


.contactform {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	padding: 20px;
	border: 1px dotted  rgba(107,52,11,0.8);
	font-size: 12px;
	color: black;
	font-weight: bold;

}


.contactform textarea {

}

