
/* ****************  **************** **************** ****************    
	
	Product Element Styling
	
**************** **************** **************** **************** */


.details {
	width: auto;
	padding: 10px 10px 10px 10px;
}

.prod_detailimg {
	position: relative;
	margin: 10px 10px 50px 10px;
	float: left;
	height: 200px;
	width: 80px;
}


.productinfo {
	width: 200px;
	height: 180px;
	float: left;
	margin: 10px ;
	background-color: rgba(107,52,11,0.4);
	border-radius: 10px;
	padding: 5px;

}

.productcol{
	 width: 180px;
	height: 135px;
	margin-left: 5px;
	background-color: rgba(255,255,255,0.7);
	border-radius: 10px 10px 0px 0px;
	padding: 5px;
}

.productcol img{
	width: 70px;
	height: 120px;
	float: left;
	background-color: white;
	border-radius: 20px;
	margin: 10px 5px 10px 0px;
}

.ordercol {
    width: 200px;
	height: 30px;
	margin-left: -5px;
	background-color: #42210B;
	border-radius: 0px 0px 10px 10px;
	padding: 5px;

}

.productcol a {
	font-weight: bold;
	font-size: 12px;
	color: #42210B;
	float: right;
}


price {
	color: rgba(255,255,255,0.8);
	font-weight: 500;
	float: left;
	padding: 10px 10px;
}

.extrainfo {
	font-size: 10px;
	font-weight: 800;
}

.ordercol p{
   color: white;
   margin: 10px 10px 0px 10px;
   float: right;
}